h1 {
    text-align: center;
}

div.page {
    margin-left: 15%;
    padding: 1px 16px;
    height: 1000px;
}
div.about_me {
    display: fixed;
    margin: 5%;
    justify-content: center;
    align-items: center;
}


/* Sidenav */
ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    height: 100%;
    position: fixed;
    overflow: auto;
    background-color:white;
}

ul.sidenav li a {
    display: block;
    color: #000000;
    padding: 8px 16px;
    text-decoration: none;
}

ul.sidenav li a.active {
    background-color: whitesmoke;
    color: mediumvioletred;
}

ul.sidenav li a:hover:not(.active) {
    background-color: white;
    color: mediumvioletred;
}

@media screen and (max-width: 900px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }

    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
    div.page {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}